@font-face {
  font-family: 'IntroHeadB';
  src: url('../../fonts/IntroHeadB-Base.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../../fonts/MYRIADPRO-REGULAR.OTF');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

